{% extends 'main.html' %}
{% block title %}
    Статистика
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='agency.css')}}">
{% endblock %}
{% block tree %}
    <b>Главная</b> / Поставленные задачи
{% endblock %}
{% block content %}
    <div class="link-tree agency container">
        <b>Текущие задачи </b> / {{ name }} / {{ group_name }}
    </div>
    {% for task in tasks %}
    <div class="task_block">
        <a class="task_block_header" href="#" onclick="open_task(this);">
            <img class="more-icon task" src="{{ url_for('static', filename='more.svg') }}" alt="">
            {{ task['name'] }}
        </a>
        <ul class="events_list">
            {% for event in task.events %}
            <li>
                <a href="#" onclick="open_event(this);">
                    <img class="more-icon event" src="{{ url_for('static', filename='more.svg') }}" alt="">
                    {{ event['name'] }}
                </a>
                <table class="checkpoints_list">
                    <tr class="table_row">
                        <th>Задачи</th>
                        <th>Исполнитель</th>
                        <th>Дата начала</th>
                        <th>Дата завершения</th>
                        <th>Статус</th>
                        <th>Прикрепить файлы</th>
                    </tr>
                    {% for check in event['checkpoints'] %}
                    <tr class="table_row">
                        <td>{{ check['name'] }}</td>
                        <td>{{ check['group_name'] }}</td>
                        <td>{{ check['start'] }}</td>
                        <td>{{ check['end'] }}</td>
                        <td>В разработке</td>
                        <td><a href="">Прикрепить вложения</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}